{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'StyleSheet/form.css' %}" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="icon" href="{% static 'img/base/favIcon.png' %}" sizes="16x16" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

  
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>SARC, IIT Bombay</title>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
  <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="icon" href="{% static 'img/base/favIcon.png' %}" sizes="16x16" type="image/png">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="icon" type="image/x-icon" href="../static/title3.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  {% comment %}
  <script src="https://use.fontawesome.com/4ecc3dbb0b.js" /> {% endcomment %}
  <title>Register | SARC, IIT Bombay</title>
  <style>

  :root {
      --switches-bg-color: #624F48;
      --switches-label-color: white ;
      --switch-bg-color: white;
      --switch-text-color: #624F48 ;
  }
  
  
  .switches-container {
      width: 100%;
      position: relative;
      display: flex;
      padding: 0;
      position: relative;
      background: var(--switches-bg-color);
      line-height: 3rem;
      border-radius: 3rem;
      margin-bottom: 20px;
  }
  
  .switches-container input {
      visibility: hidden;
      position: absolute;
      top: 0;
  }
  
  .switches-container label {
      width: 50%;
      padding: 0;
      {% comment %} margin: 0; {% endcomment %}
      font-size: 100%;
      text-align: center;
      cursor: pointer;
      color: var(--switches-label-color);
  }
  
  /* switch highlighters wrapper (sliding left / right) 
      - need wrapper to enable the even margins around the highlight box
  */
  .switch-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      padding: 0.15rem;
      z-index: 3;
      transition: transform .5s cubic-bezier(.77, 0, .175, 1);
      /* transition: transform 1s; */
  }
  
  /* switch box highlighter */
  .switch {
      border-radius: 3rem;
      background: var(--switch-bg-color);
      height: 100%;
  }
  
  /* switch box labels
      - default setup
      - toggle afterwards based on radio:checked status 
  */
  .switch div {
      width: 100%;
      text-align: center;
      opacity: 0;
      display: block;
      color: var(--switch-text-color) ;
      transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
      will-change: opacity;
      position: absolute;
      top: 0;
      left: 0;
  }
  
  /* slide the switch box from right to left */
  .switches-container input:nth-of-type(1):checked~.switch-wrapper {
      transform: translateX(0%);
  }
  
  /* slide the switch box from left to right */
  .switches-container input:nth-of-type(2):checked~.switch-wrapper {
      transform: translateX(100%);
  }
  
  /* toggle the switch box labels - first checkbox:checked - show first switch div */
  .switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
      opacity: 1;
  }
  
  /* toggle the switch box labels - second checkbox:checked - show second switch div */
  .switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
      opacity: 1;
  }
    .navbar-nav .nav-item .nav-link {
      padding: 0.6em 1em!important;
      font-size: 120%;
      font-weight: bold;
      color: rgb(17, 211, 17);
      letter-spacing: 1px;
      font-family: 'Gothic A1', sans-serif;
  }
  .btn-outline-light{
    border-radius: 50%;
    width : 40px;
  }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

{% comment %} <body style="background-image:url('../static/fire.png')"> {% endcomment %}
<body>
  <input style="display: none;" type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
      <ul>
<li><a href="/">Home</a></li>
<li><a href="/mentorReg">Register</a></li>
{% comment %} <li><a href="http://team23.sarc-iitb.org">Team</a></li> {% endcomment %}
</ul>
</div>


    <div class="form_wrapper">
      <div class="form_container">
        <br>
        <div class="title_container">
          <h2>Apply as a Mentor for Placement Mentoring Program</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form method="POST" action="mentorReg"> {% csrf_token %}
              <div class="input_field">
                <input type="text" name="fullname" placeholder="Full Name" required />
              </div>
              <div class="input_field"> 
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div class="input_field"> 
                <input type="text" name="rollno" placeholder="Roll No" required />
              </div>
              <select name="department" id="department" style="width: 100%; padding: 6px; border: 1px solid #ccc;" onchange="showOtherDepartment(this);" required>
                <option value="" select-disabled="true"> --Branch-- </option>
              {% for key, value in options.BRANCH_CHOICES %}
                <option value={{key}}>{{value}}</option>
              {% endfor %}
              </select>

          <div class="input_field">
            <input id="other_department" type="text" style="width: 100%; padding: 6px; border: 1px solid #ccc; display: none;" name="other_department" placeholder="In case you have chosen other in department"/>
          </div>

              {% comment %} <div class='input_field'> Degree* </div> {% endcomment %}
              <select onchange="showOtherDegree(this);" name="degree" style="width: 100%; padding: 6px; border: 1px solid #ccc;" required>
                <option value="" select-disabled="true"> --Degree-- </option>
                {% for key, value in options.DEGREE_CHOICES %}
                <option value={{key}}>{{value}}</option>
              {% endfor %}
              </select>
              <div class="input_field">
                <input type="text" id="degree_other" style="width: 100%; padding: 6px; border: 1px solid #ccc; display: none;" name="degree_other" placeholder="In case you have chosen other in degree"/>
              </div>
              <div class="input_field"> 
                <input type="text" name="contact" placeholder="Contact Number" required />
              </div>
              <div class="input_field">
                <input type="text" name="graduation_year" placeholder="Year of Graduation" required />
              </div>


              {% comment %} <select class="input_field" name="placementOrGrad" onchange="togglePlacementGrad(this);" style="width: 100%; padding: 6px; border: 1px solid #ccc;">
                {% for key, value in options.OPTIONS %}
                <option select-disabled="true">{{value}}</option>
                {% endfor %}
              </select> {% endcomment %}

                <div class="switches-container">
                  <input type="radio" id="placement" name="placementOrGrad" value="placement" checked="checked" />
                  <input type="radio" id="grad" name="placementOrGrad" value="gradmentoring" />
                  <label for="placement">Placement</label>
                  <label for="grad">Grad Mentoring</label>
                  <div class="switch-wrapper">
                    <div class="switch">
                      <div>Placement</div>
                      <div>Grad Mentoring</div>
                    </div>
                  </div>
                </div>


              <div id="placementDiv" style="display: block;">

                <div class="input_field"> 
                  <input type="text" name="designation" placeholder="Designation"  />
                </div> 
                <div class="input_field">
                  <input type="text" name="company_name" placeholder="Company/Organization Name"  />
                </div> 
                <div class="input_field"> 
                  <input type="text" name="placementExperience" placeholder="Past Experience (Job/Internship/Project/POR)"/>
                </div> 



                <div class='form-label'>Fields in which you are willing to provide mentorship (Enter preferences)</div>
                <div>
                  <select onchange="checkCoreSelect(this)" class="input_field pref" name="placementPref1" style="width: 100%; padding: 6px; border: 1px solid #ccc;">
                    <option value="" select-disabled="true"> --Preference 1-- </option>
                  {% for key, value in options.PLACEMENT_FIELDS %}
                    <option value={{key}}>{{value}}</option>
                  {% endfor %}
                  </select>
                  <select onchange="checkCoreSelect(this)" class="input_field pref" name="placementPref2" style="width: 100%; padding: 6px; border: 1px solid #ccc;">
                    <option value="" select-disabled="true"> --Preference 2-- </option>
                      {% for key, value in options.PLACEMENT_FIELDS %}
                      <option value={{key}}>{{value}}</option>
                      {% endfor %}
                  </select>
                  <select onchange="checkCoreSelect(this)" class="input_field pref" name="placementPref3" style="width: 100%; padding: 6px; border: 1px solid #ccc;">
                    <option value="" select-disabled="true"> --Preference 3-- </option>
                    {% for key, value in options.PLACEMENT_FIELDS %}
                      <option value={{key}}>{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div id="gradMentoring" style="display: none;">
                <div class="input_field"> 
                  <input type="text" name="university_name" placeholder="University Name" />
                </div>
                <div class="input_field"> 
                  <input type="text" name="gradExperience" placeholder="Past Experience" />
                </div> 
                <div class='form-label'>Fields in which you are willing to provide mentorship (Enter preferences)</div>
              <div>


              <select onchange="checkCoreSelect(this)" class="input_field pref" name="gradPref1" style="width: 100%; padding: 6px; border: 1px solid #ccc;">
                <option value="" select-disabled="true"> --Preference 1-- </option>
                {% for key, value in options.HIGHERSTUDIES_FIELDS %}
                <option value={{key}}>{{value}}</option>
              {% endfor %}
              </select>
              <select onchange="checkCoreSelect(this)" class="input_field pref" name="gradPref2" style="width: 100%; padding: 6px; border: 1px solid #ccc;">
                <option value="" select-disabled="true"> --Preference 2-- </option>
                {% for key, value in options.HIGHERSTUDIES_FIELDS %}
                <option value={{key}}>{{value}}</option>
              {% endfor %}
              </select>
              </div>
            </div>


              {% comment %} <div class='form-label'>Only for those who wish to provide mentorship in <b>Core</b></div> {% endcomment %}
                <select id="core" class="input_field" name="core" style="width: 100%; padding: 6px; border: 1px solid #ccc; display: none;" onchange="showSubdivisionOptions(this, {{options.BRANCH_SUBDIVISION_CHOICES}});">
                  <option value="" select-disabled="true">--Core--</option>
                  {% for key, value in options.BRANCH_CHOICES %}
                <option value={{key}}>{{value}}</option>
              {% endfor %}
                </select>
                
                <select class="input_field" name="subdivisions" id="subdivisions" style="width: 100%; padding: 6px; border: 1px solid #ccc; display: none;">
                  <option value="" select-disabled="true"></option>
                </select>
            
                
                <div id="other_mentorship" class="input_field" style="display: none;">
                    <input type="text" class="form-control"  name="other_mentorship" placeholder='Others (Please Specify)'>
                </div>

                </div>             
                <div class="input_field">
                <input type="text" class="form-control" id="no_of_mentees" name="no_of_mentees" required placeholder="Preferred number of mentees">
              </div>
              <div class="input_field">
                <input type="text" class="form-control" id="referral" name="referral" placeholder="Any other batchmate who you would like to refer (Their name and contact number) ">
              </div>
                <textarea style="width:100%; padding: 5px; border: 1px solid #ccc;" name="suggestion" placeholder="Suggestions (We love to hear from you)"></textarea>
                <div class="mb-3">
                  <ul>
                    <li>I will support the mentee to the best of my abilities.</li>
                    <li>I will be responsive to the mentee's doubts and queries.</li>
                    <li>I will provide adequate feedback to SARC (through feedback forms).</li>
                  </ul>
                  <input class="form-check-input" type="checkbox" name="Iagree" id="Iagree" required>
                  <label class="form-check-label" for="Iagree">
                  By registering, I agree to the above terms and conditions
                  </label>
                </div>
              <input class="button" type="submit" value="Register"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center text-white" style="background-color:#624F48;">
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SARC.IITB" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/sarc_iitb/" role="button"
        ><i class="fab fa-instagram"></i></a>
  
        <!-- Youtube -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/user/SARCIIT" role="button"
          ><i style="margin-left:-1px;" class="fab fa-youtube"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/student-alumni-relations-cell/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
  
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0); color:#d7e2e1;">
      © 2022 Made with 💙 by
      <span style="color:#d7e2e1;">SARC</span>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="{% static 'home.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>
  <script src="https://use.fontawesome.com/4ecc3dbb0b.js" />
  <script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>
  <script src="{% static 'form.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script>
   
    $(document).ready(function () {
      $('.checkvalue').click(function () {
        var txt = '';
        $('.checkvalue:checked').each(function () {
          txt += $(this).val() + ','
        });
        $('#profiles').val(txt);
      });
    });


    $(document).ready(function () {

      var placementDiv = document.getElementById('placementDiv');
      var gradDiv = document.getElementById('gradMentoring');

      $('input[name="placementOrGrad"]').change(function() {

        console.log($(this).val());
        if ($(this).val() === 'placement') {
          console.log("coming in placement")
          placementDiv.style.display = 'block';
          gradDiv.style.display = 'none';
        } else {
          placementDiv.style.display = 'none';
          gradDiv.style.display = 'block';
        }
      });
    });


  </script>
<script type="text/javascript">

  function checkCoreSelect(that){

    var allDivs = document.getElementsByClassName('pref')

    var core = document.getElementById("core")
    
    if(that.value == "core"){
      core.style.display = "block";
    }
    
    else{
      var test = false;
      for(var i=0; i<allDivs.length; i++){
        if(allDivs[i].value === 'core'){
          test = true;
          break;
        }
      }
      if(!test){
        core.style.display = "none";
      }
    }
  }

  function showOtherDepartment(that){
    if(that.value === 'other'){
      var check = document.getElementById("other_department")
      check.style.display = "block";
    }else{
      document.getElementById("other_department").style.display = "none";
    }
  }

  function showOtherDegree(that){
    if(that.value === 'other_degree'){
      var check = document.getElementById("degree_other")
      check.style.display = "block";
    }else{
      document.getElementById("degree_other").style.display = "none";
    }
  }


  function showSubdivisionOptions(that, branchSubdivisionChoices) {

    var subdivisionSelect = document.getElementById("subdivisions");
    var selectedBranch = that.value;
    var options = branchSubdivisionChoices[selectedBranch];
    subdivisionSelect.innerHTML = ''; // Clear previous options
    if (options) {
      if(options.length == 1){
        if(that.value.toString() === "other"){
          document.getElementById("other_mentorship").style.display = "block";
          subdivisionSelect.style.display = "none";
          return;
        }else{
          var option = document.createElement("option");
          option.text = options[0];
          subdivisionSelect.appendChild(option);
        }
      }else{
        document.getElementById("other_mentorship").style.display = "none";
        var option = document.createElement("option");
        option.setAttribute('select-disabled', 'true');
        option.text = "--" + options[0] + "--";
        subdivisionSelect.appendChild(option);
      }
      for (var i = 1; i < options.length; i++) {
        var option = document.createElement("option");
        option.text = options[i];
        subdivisionSelect.appendChild(option);
      }
      if(options.length != 1){
        subdivisionSelect.style.display = "block";
      }
    } else {
      subdivisionSelect.style.display = "none";
    }

    document.getElementById("other_mentorship").style.display = "none";

  }


   
</script>
  </body>

</html>