{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="icon" href="{% static 'img/favIcon.png' %}" sizes="16x16" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link type='text/css' rel="stylesheet" href='{% static '../static/StyleSheet/home.css' %}'>
    <script  src='../static/javascript/index.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script type="text/javascript">
        if (screen.width <= 699) {
        document.location = "/phonehome";
    }
    </script> 
    <script>
        const explaination1 = document.getElementsByClassName('explaination1')[0]
            const explaination2 = document.getElementsByClassName('explaination2')[0]
            const explaination3 = document.getElementsByClassName('explaination3')[0]
            const explaination4 = document.getElementsByClassName('explaination4')[0]

            function mouseOver1() {
                explaination1.classList.remove('hide');
                explaination1.classList.add('show');              
            }

            function mouseOut1() {
                explaination1.classList.remove('show');
                explaination1.classList.add('hide');
            }

            function mouseOver2() {
                explaination2.classList.add('show');
                explaination2.classList.remove('hide');
            }

            function mouseOut2() {
                explaination2.classList.remove('show');
                explaination2.classList.add('hide');
            }
            function mouseOver3() {
                explaination3.classList.add('show');
                explaination3.classList.remove('hide');
            }

            function mouseOut3() {
                explaination3.classList.remove('show');
                explaination3.classList.add('hide');
            }
            function mouseOver4() {
                explaination4.classList.add('show');
                explaination4.classList.remove('hide');
            }
            function mouseOut4() {
                explaination4.classList.remove('show');
                explaination4.classList.add('hide');
            }
    </script>
    <title>PMP | SARC | IIT Bombay</title>
    <style>
        .hide {
            display: none;
        }
        .one:hover + .role {
            display: none;
        }
    </style>
  </head>

  <body style="font-family: 'Poppins';">
  <div class='flexcontainer'>
    <div class="navbar">
        <div class="logo">
            <img src="../static/img/logo.png" style="padding: 0.2rem; width: 7vw; height: auto;">
        </div>    
        <div class="nav__links">
            <a href="#about" class="nav__link">About</a>
            <a href="#benefits" class="nav__link">Benefits</a>
            <a href="#faq" class="nav__link">FAQs</a>
            <a href="#testimonials" class="nav__link">Testimonials</a>
            <a href="#contact" class="nav__link">Contact</a>
        </div>
    </div>
    <div>
        <div class="pmp">
            <h1>PLACEMENT</h1>
            <h1>MENTORING</h1>
            <h1>PROGRAM</h1>
            <h2>FROM CLASSROOM TO BOARDROOM</h2>
        </div>
    </div>
        <br>
        <div>
       <a href="/registration">
         <button id="sign-in" class="bttn" style="position: relative; padding-left: 30px; padding-right: 30px; top: 80vh; left: 42vw; font-size:18px;">REGISTER</button>
        </a>
        </div>
  </div>


    {% comment %} About section {% endcomment %}
    <div class="section5" id='about'>
        
        <div class='headBox' >About PMP</div>
        <div class='about-info'>The Placement Mentoring Program seeks to provide mentorship to final-year students in a variety of core and non-core sectors such as finance, analytics, consulting, IT/software, and so on, in order to help them with their placement process.  This year’s programme also includes mentorship for the graduating students who wish to pursue higher education. The programme does this through contributions from recently graduated batches who have gone through the similar placement procedure/higher studies preparation  and are thus familiar with the problems that may be encountered. The service connects mentors and mentees, allowing the latter to discuss the tactics to use when looking for work in a specific profession. PMP kicks off the initial interaction between the mentors and the mentees, which they may continue at their own pace and according to their requirements, with intermediate follow-ups to address any hurdles that may occur.

</div>

    <div class="hexagons-div my-3" style="height: 35vh;">
        <div class='hexagon-inner-div'>
            <div class="hexagon" ><span id='num1'>10+</span></div>
            <p class='departments'>Departments</p>
        </div>
        
        <div class='hexagon-inner-div'>
            <div class="hexagon"><span id='num3'>200+</span></div>
            <p class='mentors'>Mentors</p>
        </div>

        <div class='hexagon-inner-div'>
            <div class="hexagon" ><span id='num2'>500+</span></div>
            <p class='mentees'>Mentees</p>
        </div>
            
        </div> 
    </div>

    <br /> <br /> <br /> <br /> <br /> <br />
    
    <div class="section3" id='benefits'>       
        <div class='headBox0' style="text-align: center;">BENEFITS</div>
        <div class="container">
        <div class="row">
        <div class="circle" onclick="toggleCenter(this)">
            <p><span style="font-weight: bold;">COUNSEL</span> <br /> Get help from alumni during the entire course of preparation, starting from resume reviewing to the final placement/grad school process. Get valuable tips and guidance from alumni’s experience that helped them crack
                placements/ grad school.
            </p>
        </div>
    </div>
    <div class="row">
      <div class="circle" onclick="toggleCenter(this)">
        <p>COMMUNICATION <br />Empowers you with the ability to have regular communication with mentors in the stressful times of preparation. Get your doubts/queries solved from alumni who had walked through the same footsteps
        </p>
      </div>
      <div class="circle" onclick="toggleCenter(this)">
        <p>EVALUATION <br />Receive general fundae for preparing for your interviews, etc, and get feedback on your performance from alumni. Ensure regular feedback to our team as well throughout the entire process.
        </p>
      </div>
    </div>
  </div>

  <script>
    
  </script>

        {% comment %} <div class="roleimage"><img src="../static/img/mentor4.png" style="width: 74vw; height: auto;"></div>
                    
            </div>

        </div> {% endcomment %}
    </div>

<script src='../static/javascript/index.js'></script>

    {% comment %} section for FAQ {% endcomment %}
    <div class=' faqs'>
        <div id='faq' class='headBox1'>FAQs</div>
        {% comment %} <div class="illustration1"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div> {% endcomment %}
        <div class="faq-container">
            <div class="faq ">
                <h3 class="faq-title">
                    What is the further procedure after I register?
                </h3>

                <p class="faq-text" style="font-size: 20px;">
                    The allocation will occur on a first-come, first-served (FCFS) basis. After completing the entire registration process, the allocation process will commence within 2-3 weeks. If you have been assigned a mentor, you will receive mailers from SARC Coordinators. Additionally, in the first 2-3 email interactions, you will need to include us in CC. If you have any questions throughout the process, please feel free to contact us.
                </p>
        
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        
            <div class="faq">
                <h3 class="faq-title">
                    What is Grad Mentoring?
                </h3>

                <p class="faq-text" style="font-size: 20px;">
                    Placement Mentoring Program not just focuses on one particular set of graduating students that prioritize placements and their current decision lies in considering going for placements, we also include a considerable chunk of institute students that have intentions in pursuing higher education in various core fields and newer fields like management. Therefore we also include higher education to serve the maximum number of students in the institute.
                </p>

                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        
            <div class="faq">
                <h3 class="faq-title">
                    How did this program benefit mentees last year?
                </h3>

                <p class="faq-text" style="font-size: 20px;">
                    According to reports, the mentees profited greatly from the program last year. The mentoring they received from their mentors was beneficial throughout the placement process. They were able to gain insights from their mentor's experiences, and all of the helpful hints and recommendations assisted them in cracking placements and smoothening the whole process.
                </p>

                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        </div>
        </div>
    </div>

    {% comment %} section of testimonials {% endcomment %}
        <div class='headBox2' id="testimonials">TESTIMONIALS</div>
        <h2 class="slide-box-content" style="font-size: 40px; text-decoration: underline; text-align: center;">WHAT DO THE PARTICIPANTS HAVE TO SAY?</h2>
        <div class="testimonials" style="position: relative; top: 12px; padding-top: 1px; margin-bottom: 200px; background-color: #D5877D;" id="testimonials">
            <div class="slider-container">
                <div class="slider">
                    <!-- Testi One -->                 
                    <div class="slide-box">
                        <p class="comment">
                            How was your experience with your mentor during the Placement Mentoring Programme?
                        </p>
                        <p style="text-align: justify;">
                            "He was very supportive and talked to me in detail about my interests and my preparation level. He told me some reference books to go through and also helped me in writing cover letters and getting some idea of company-specific interviews. We didn't follow any particular plan as such during the mentorship, I asked him whatever I had a doubt in, as and when needed. He was easy to approach, and I'm grateful he took time out of his busy schedule to guide and help me with my placements!"
                        </p>
                        <img
                            src="../static/img/Aakrit_Mentor.jpg" />
                        <h3 class="name">SAHIL GARG</h3>
                        <h4 class="job">Electrical Engineering 2024</h4>
                    </div>

                    <!-- Testi Two -->
                    <div class="slide-box">
                        <p class="comment">
                            How was your experience with your mentor during the Placement Mentoring Programme?
                        </p>
                        <p style="text-align: justify;">
                            "My mentor gave me advice about applying to universities abroad for a PhD drawn from his own experiences. We had numerous meetings to discuss topics such as PhD in India vs PhD abroad, how the two might be different, what I should be aiming for in a PhD (finding a good advisor), what constitutes a good advisor vs a toxic advisor, etc. All of this was very helpful to me." I could just ping my mentor on Google chat anytime and he'd fix a date and time for a meeting. This was flexible enough to account for blockers on our ends. He was very approachable in the time we had our discussions, and the discussions were fruitful."
                        </p>
                        <img
                            src="../static/img/Aakrit_Mentor.jpg" />
                        <h3 class="name">PRITISH CHAKRABORTY</h3>
                        <h4 class="job">Computer Science Engineering 2024</h4>
                    </div>

                    <!-- Testi Three -->
                    <div class="slide-box">
                        <p class="comment">
                            How was your experience with your mentor during the Placement Mentoring Programme?
                        </p>
                        <p style="text-align: justify;">
                            "The placement mentorship program is a good way to keep a check on oneself, whether you are doing preparation upto the mark or not. It is really beneficial for people who have lesser connections with seniors in terms of the career path they are aiming for. Personally, I got a pretty good mentor, and I always kept having a chat with him amidst my placements. Of course the hard work is your own part, but it's a good method to get an update of our preparation. From getting my resumes reviewed to seeking help regarding DSA and strategies in relation to company tests, my mentor assisted me with most of the things."
                        </p>                        
                        <img
                            src="../static/img/Aakrit_Mentor.jpg" />
                        <h3 class="name">Goransh Gattani</h3>
                        <h4 class="job">MEMS</h4>
                    </div>

                    <!-- Testi Four -->
                    <div class="slide-box"> 
                        <p class="comment">
                            How was your experience with your mentor during the Placement Mentoring Programme?
                        </p>
                        <p style="text-align: justify;">
                            "My mentor Archana, was MTech from the same branch Electrical Engineering, ICS discipline. She is placed in Google for DFT profile. I had very fruitful discussions with her. Especially regarding the topics that are important for placement and the priority of topics to prepare. I had periodic interaction with her. Most of the discussion was around the priority of topics and the sources for preparation. I was very comfortable interacting with Archana since she was from my batch (TA) (2021). Especially with the priority of topics, I knew how to go about the preparation and in what depth."
                        </p>                        
                        <img
                            src="../static/img/Aakrit_Mentor.jpg" />
                        <h3 class="name">Adarsh Sinha</h3>
                        <h4 class="job">Electronic Systems discipline of Electrical Engineering</h4>
                    </div>
                </div>
        
                <a href="#!" class="control-slider btn-left" style="margin-left: -25px; background-color: transparent"> 
                    <i class="material-icons" id="arrow" style="font-size:36px">chevron_left</i>
                </a>
                <a href="#!" class="control-slider btn-right" style="margin-right: -25px; background-color: transparent">
                    <i class="material-icons" id="arrow" style="font-size:36px">chevron_right</i>
                </a>
            </div>
        </div>

        {% comment %} section for contact {% endcomment %}
        <div class='contact' id="contact" style="margin-top: -5vh;">
        <div class='headBox' id='faq'>CONTACT US</div>
   
    <div class="team-members">
    <div class="member">
      <img src="../static/img/aghraj.jpg" alt="Team Member 1" class="member-photo">
      <h3 class="member-name">Bhakti Joshi</h3>
      <p class="member-details">Core Team Member, <br/> Hostel and Department Affairs</p>
      <p class="member-details"><i class="fas fa-phone"></i> +91 62644 42349 </p>
      <div class="social-media">
        <a href="mailto:bhakti@sarciitb.org" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/bhakti-joshi-33b1b7252/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/bhaktijoshi_14" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="member">
      <img src="../static/img/garv.png" alt="Team Member 2" class="member-photo">
      <h3 class="member-name">Ishan Grover</h3>
      <p class="member-details">Core Team Member, <br/> Hostel and Department Affairs</p>
      <p class="member-details"><i class="fas fa-phone"></i> +91 93406 66736</p>
      <div class="social-media">
        <a href="mailto:ishan@sarciitb.org" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100093298782746" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="n: https://www.linkedin.com/in/ishan-grover-30b499256/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/ishan__grover" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
   </div>
   <footer class="text-center text-white" style="background-color:#624F48;">
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SARC.IITB" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/sarc_iitb/" role="button"
        ><i class="fab fa-instagram"></i></a>
  
        <!-- Youtube -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/user/SARCIIT" role="button"
          ><i style="margin-left:-1px;" class="fab fa-youtube"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/student-alumni-relations-cell/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
  
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0); color:#d7e2e1;">
      © 2024 Made with 💙 by
      <span style="color:#d7e2e1;">SARC</span>
    </div>
    <!-- Copyright -->
  </footer>

        <!-- <div class='container1'>
            <div class='photo1 '>
                <div><img src='{% static 'img/photo1.jpeg' %}' class='photo'></div>
                <div class='name'>Karan Kumar</div>
                <div class='department'>Computer Science and Engineering </div>
                <div>2020</div>
            </div>
            <div class='testimonial1 '>I had a great experience mentoring juniors for their placements, where I got a chance to share my learnings and helped them avoid the mistakes I made. Some of the students were quite stressed and I am glad that I was able to help them overcome that stressful phase. It is a great way to give back to the community that gave me so much.
            </div>
        </div>
        <div class='container2'>
            <div class='testimonial2 '>Looking back, the placement semester has been a very important part of my insti life. But it was the constant guidance and support from seniors and peers that made the journey smooth, comfortable, and memorable. So, for me, it was a no-brainer to opt for the Placement Mentorship Program as it provided a platform to give back.  It was a great pleasure to share my experience and knowledge with the mentees and I hope I was able to add value to their placement preparation process. This is indeed a great initiative, all the efforts from the organizing team are well appreciated. I would encourage all the recent graduates to take part in this program and guide the juniors as much as possible.
            </div>
            <div class='photo2 '>
                <div><img src='{% static 'img/photo2.jpeg' %}' class='photo'></div>
                <div class='name'>Praveen Kumar</div>
                <div class='department'>Civil Engineering</div>
                <div>2020</div>
            </div>
        </div>
    
        <div class='container3'>
            <div class='photo3 '>
                <div><img src='{% static 'img/photo3.jpeg' %}' class='photo'></div>
                <div class='name'>Vinayak Gupta</div>
                <div class='department'>Mechanical Engineering</div>
                <div>2020</div>
            </div>
            <div class='testimonial3 '>Making a proper resume and conveying yourself truly in the interview is not just an important thing but also the only thing which is in your hand when it comes to the final year. Having myself experienced the placement phase, receiving guidance from my seniors during that time along with realizing the importance of placement season, assisting final year students in their resume and interview prep, spending hours on-call reviewing resumes, discussing career options, figuring tech and HR interview questions was a clear choice for me.
            </div>
        </div>
        <div class='container4'>
            <div class='testimonial4 '>The placement mentoring program gave me a great opportunity to share my experience of the placements with my juniors. The placement at IIT is a stressful process but at the same time, it also gives a great learning opportunity from preparing resumes, to mock GD and PI’s, pre-placement talks, and to final placement sessions. These experiences ultimately help a lot in professional life. To be able to help my juniors with the placements through this program is a very fulfilling experience. Thank you for giving me this opportunity and I recommend all the students to subscribe to this program and make a maximum out of it. </div>
            <div class='photo4 '>
                <div><img src='{% static 'img/photo4.jpeg' %}' class='photo'></div>
                <div class='name'>Ram Phal Suthar</div>
                <div class='department'>Chemical Engineering </div>
                <div>2020</div>
            </div>
        </div>
       <div class='container5'>
            <div class='photo5 '>
                <div><img src='{% static 'img/photo5.jpeg' %}' class='photo'></div>
                <div class='name'>Niranjan Suthar</div>
                <div class='department'>Electrical Engineering </div>
                <div>2020</div>
            </div>
            <div class='testimonial5'>From the beginning of my 2nd year at college, I have built this interest in self-motivation and that was one of the key reasons during my placements as well. I was always looking for opportunities where I can motivate others and share my unsuccessful attempts (which I asked my mentee to avoid later). And this Institute Placement Mentorship Program gave me one more chance to guide my junior friends to prepare both mentally and academically. And the best part about this Program is that all mentees were continuously in touch with their seniors which was very important during the pandemic where there were no physical sessions possible.
            As for the mentees, all of them did a really good job. They were regular in presentations and sessions even though they had to do other academic work. And at the end, the best feeling was when your mentee tells you about their selections 😃😃.
            </div>
        </div>
    </div>
   




    
{% comment %} section for contact {% endcomment %}
   <div class='section1 contact'>
    <div  id='contact'>CONTACT US</div>
    <div class='container '>
        <div class='contactOne'>
            <p>Priyam Vijayvargia</p>
            <p>Core Team Member, Hostel and Department Affairs</p>
            <p>Contact Number - 07412011226</p>
            <p>Email - priyamvijayvargia.sarc@gmail.com</p>
        </div>
        <div class='contactTwo'>
        <p>Vivitsa Jain</p>
        <p>Core Team Member, Hostel and Department Affairs</p>
        <p>Contact Number - 09967873350</p>
        <p>Email - vivitsa.sarc@gmail.com</p>
        </div>
    </div>
   </div>

 -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <script>
        const toggles = document.querySelectorAll('.faq-toggle');

            toggles.forEach(toggle => {
                toggle.addEventListener('click', () => {
                    toggle.parentNode.classList.toggle('active');
                });
            });
            const sliderElm = document.querySelector(".slider-container .slider");
                const btnLeft = document.querySelector(".slider-container .btn-left");
                const btnRight = document.querySelector(".slider-container .btn-right");

                const numberSliderBoxs = sliderElm.children.length;
                let idxCurrentSlide = 0;

                // Functions:
                function moveSlider() {
                    let leftMargin = (sliderElm.clientWidth / numberSliderBoxs) * idxCurrentSlide;
                    sliderElm.style.marginLeft = -leftMargin + "px";
                    console.log(sliderElm.clientWidth, leftMargin);
                }
                function moveLeft() {
                    if (idxCurrentSlide === 0) idxCurrentSlide = numberSliderBoxs - 1;
                    else idxCurrentSlide--;

                    moveSlider();
                }
                function moveRight() {
                    if (idxCurrentSlide === numberSliderBoxs - 1) idxCurrentSlide = 0;
                    else idxCurrentSlide++;

                    moveSlider();
                }

                // Event Listeners:
                btnLeft.addEventListener("click", moveLeft);
                btnRight.addEventListener("click", moveRight);
                window.addEventListener("resize", moveSlider);
    const sections = document.querySelectorAll(".section");

    window.addEventListener("scroll", function (event) {
        sections.forEach((section) => {
            let top = window.scrollY + 250;
            let offset = section.offsetTop;
            let height = section.offsetHeight;
            let id = section.getAttribute("id");

            if (top >= offset && top < offset + height) {
                document.querySelectorAll(".active").forEach((a) => {
                    a.classList.remove("active");
                });

                document.querySelector("[href*=" + id + "]").classList.add("active");
            }
        });
    });

    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    
  </body>
</html>