{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/favIcon.png' %}" sizes="16x16" type="image/png">
    <link type='text/css' rel="stylesheet" href='{% static 'StyleSheet/home.css' %}'>
    <script  src='../static/javascript/index.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">  
    <script type="text/javascript">
        if (screen.width <= 699) {
        document.location = "/phonehome";
    }
    </script> 
    <script>
        const explaination1 = document.getElementsByClassName('explaination1')[0]
            const explaination2 = document.getElementsByClassName('explaination2')[0]
            const explaination3 = document.getElementsByClassName('explaination3')[0]
            const explaination4 = document.getElementsByClassName('explaination4')[0]

            function mouseOver1() {
                explaination1.classList.remove('hide');
                explaination1.classList.add('show');              
            }

            function mouseOut1() {
                explaination1.classList.remove('show');
                explaination1.classList.add('hide');
            }

            function mouseOver2() {
                explaination2.classList.add('show');
                explaination2.classList.remove('hide');
            }

            function mouseOut2() {
                explaination2.classList.remove('show');
                explaination2.classList.add('hide');
            }
            function mouseOver3() {
                explaination3.classList.add('show');
                explaination3.classList.remove('hide');
            }

            function mouseOut3() {
                explaination3.classList.remove('show');
                explaination3.classList.add('hide');
            }
            function mouseOver4() {
                explaination4.classList.add('show');
                explaination4.classList.remove('hide');
            }
            function mouseOut4() {
                explaination4.classList.remove('show');
                explaination4.classList.add('hide');
            }
    </script>
    <title>PMP | SARC | IIT Bombay</title>
    <style>
        .hide {
            display: none;
        }
        .one:hover + .role {
            display: none;
        }
    </style>
  </head>
  <body style="font-family: 'Poppins';">

  <div class='flexcontainer'>
    <div class="navbar">
        <div class="logo">
            <img src="../static/img/sarc black@3x.png" style="padding: 0.2rem; width: 7vw; height: auto;">
        </div>
    
        <div class="nav__links">
            <a href="#about" class="nav__link">About</a>
            <a href="#mentor" class="nav__link">Mentor</a>
            <a href="#faq" class="nav__link">FAQs</a>
            <a href="#testimonials" class="nav__link">Testimonials</a>
            <a href="#contact" class="nav__link">Contact</a>
        </div>
    </div>
        <div>
            <div class="pmp">
                <h1>PLACEMENT</h1>
                <h1>MENTORING</h1>
                <h1>PROGRAM</h1>
            </div>
            <!-- <a class='register' href='step-one'>REGISTER</a> -->
        </div>
        <br>
        <div>
       {% comment %} <a href="/savedata_new"> {% endcomment %}
         <button onClick="alert('Registrations are closed now')" id="sign-in" class="btn" style="position: relative; padding-left: 30px; padding-right: 30px; top: 80vh; left: 45vw; font-size:18px;">REGISTER</button>
        {% comment %} </a> {% endcomment %}
        </div>
  </div>


    {% comment %} About section {% endcomment %}
    <div class="section5" id='about'>
        <div class="illustration"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div>
        <div class='headBox' style="background-image: url(headboxbg.png);">ABOUT</div>
        <div class='about-info'>The Placement Mentoring Program seeks to provide mentorship to final-year students in a variety of core and non-core
        sectors such as finance, analytics, consulting, IT/Software, and so on, in order to help them with their placement
        process. The programme does this through contributions from recently graduated batches who have gone through the similar
        placement procedure and are thus familiar with the problems that may be encountered. The service connects mentors and
        mentees, allowing the latter to discuss the tactics to use when looking for work in a specific profession. PMP kicks off
        the initial interaction between mentor and mentee, which they may continue at their own pace and according to their
        requirements, with intermediate follow-ups to address any hurdles that may occur.
</div>

        <!-- <div class="hexagons-div my-3">
        <div class='hexagon-inner-div'>
            <div class="hexagon" ><span id='num1'>10+</span></div>
            <p class='departments'>Departments</p>
        </div>
        
        <div class='hexagon-inner-div'>
            <div class="hexagon"><span id='num3'>200+</span></div>
            <p class='mentors'>Mentors</p>
        </div>

        <div class='hexagon-inner-div'>
            <div class="hexagon" ><span id='num2'>500+</span></div>
            <p class='mentees'>Mentees</p>
        </div>
            
        </div> -->
    </div>

    {% comment %} Mentor section {% endcomment %}
    <div class="section3" id='mentor' >
        <div class="illustration"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div>
        <div class='headBox' style="width: 70%;">ROLES OF A MENTOR</div>

        <div class="roleimage"><img src="../static/img/mentor4.png" style="width: 74vw; height: auto;"></div>

{% comment %} <div class="one"><p class="role">COUNSEL </p>
<p><ul style="list-style: none;">
                                <li>Help the mentee during the entire course of prep, starting from resume reviewing to the final placement process</li>
                                <li>Pass on the valuable tips that helped you crack placements, so that the mentee can pass it on to their juniors in the future</li>
                            </ul></p>
</div>
<div class="two"><p class="role" >COMMUNICATION</p>
<p><ul style="list-style: none;">
                                <li>Ensure regular communication in these stressful times with the mentee.</li>
                                <li>Be responsive to their doubts/queries/messages. If you are busy, let the mentee know a suitable time to talk</li>
                            </ul></p></div>
<div class="three"><p class="role">EXPERIENCE</p>
<p><ul style="list-style: none;">
                                <li>Provide them with resources to help them prepare well, if possible</li>
                                <li>Help them to not commit the same mistakes you might have</li>
                            </ul></p></div>
<div class="four"><p class="role">EVALUATION</p>
<p><ul style="list-style: none;">
<li>Give them general fundae for preparing for their interviews, etc, and provide feedback on their performance</li>
                                <li>Ensure regular feedback to our team as well</li>
                            </ul></p></div>

 {% endcomment %}

                    <!-- <div class='item' onmouseover='mouseOver1()' onmouseout="mouseOut1()"> -->
                    
    
                    
            </div>

        </div>
    </div>

<script src='../static/javascript/index.js'></script>

    {% comment %} section for FAQ {% endcomment %}
    <div class=' faqs'>
        <div class='headBox my-3' id='faq'>FAQs</div>
        <div class="illustration1"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div>
        <div class="faq-container">
            <div class="faq ">
                <h3 class="faq-title">
                    Why should I become a mentor with PMP?
                </h3>
        
                <p class="faq-text" style="font-size: 20px;">
                    As an alumnus/alumna, this will be your first opportunity to aid the student community and future batches with your
                    expertise and experience. As a PMP mentor, you will be able to actively contribute to the success of your juniors while
                    also remaining linked to the institute.

                </p>
        
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        
            <div class="faq">
                <h3 class="faq-title">
                    What is the further procedure after I register?

                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    Mentees will be assigned to you in your desired professional sector when the mentor and mentee registrations are
                    completed. You will have the option of selecting the number of mentees you wish to mentor. The dialogue will then be
                    initiated by your respective mentees, and you will be able to decide on a course of action together. There will be a few
                    follow-ups to help you work through any issues.

                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        
            <div class="faq">
                <h3 class="faq-title">
                    How will my personal details be used?
                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    Names, roll numbers, and contact information will be kept private until the allocation procedure is completed. Your
                    contact information will only be disclosed to the mentees who have been assigned to you. Only your job profile will be
                    made public during mentee registration.

                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
    
        
            <div class="faq">
                <h3 class="faq-title">
                    How did this program benefit the mentee last year?
                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    According to reports, the mentees profited greatly from the programme last year. The mentoring they received from their
                    mentors was beneficial throughout the placement process. They were able to benefit from their mentor's experiences, and
                    all of the helpful hints and recommendations assisted them with cracking placements and the whole process.

                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        </div>
        </div>
    </div>
    



    {% comment %} section of testimonials {% endcomment %}
        <div class='headBox'>TESTIMONIALS</div>
        <div class="illustration2" style="position: relative; top: -29px; left: -10px; z-index: -1;"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div>
        <div class="testimonials" style="position: relative; top: 12px; margin-bottom: 150px; background-color: #2F9491;" id="testimonials">
            <div class="slider-container">
                <div class="slider">
                    <div class="slide-box">
                        <h2>What the mentors have to say!</h2>
                        <!-- Testi One -->
                        <p class="comment">
                            I believe giving back is one of the best ways to improve anything, including ourselves. The placement mentorship programme provided me with an opportunity to do the same. Having honed through the time of placement and having faced the fears, I wanted to help my juniors in whatever way I could. It feels really great that my expectation was fulfilled. I connected with all my mentees regularly and guided them with their resume making and various assessment rounds. Every time I connected with them, I was reminded of how I was helped in those daunting times and how great it felt to have someone.
And for this reason, I believe this is a great programme, that will only get better in the coming year. I encourage the passed out graduates to contribute and help, and to the juniors, I recommend making the best use of your mentor assigned and never to hesitate in asking for the silliest of things. After all, it is famously said, “Help shall be given to those who ask for it”.

                        </p>
                        <img
                            src="../static/img/Aakrit_Mentor.jpg" />
                        <h3 class="name">Aakrit Anshuman</h3>
                        <h4 class="job">CSE 2021</h4>
                    </div>
                    <div class="slide-box">
                        <h2 class="title">What the mentors have to say!</h2>
                        <!-- Testi Two -->
                        <p class="comment">
                            The placement mentoring program gave me a great opportunity to share my experience of the placements with my juniors. The placement at IIT is a stressful process but at the same time, it also gives a great learning opportunity from preparing resumes, to mock GD and PI’s, pre-placement talks, and to final placement sessions. These experiences ultimately help a lot in professional life. To be able to help my juniors with the placements through this program is a very fulfilling experience. Thank you for giving me this opportunity and I recommend all the students to subscribe to this program and make a maximum out of it. 
                        </p>
                        <img
                            src="../static/img/Ram Phal Suthar_Mentor.jpeg" />
                        <h3 class="name">Ram Phal Suthar</h3>
                        <h4 class="job">Chemical 2020</h4>
                    </div>
                    
                    <div class="slide-box">
                        <h2 class="title">What the mentees have to say!</h2>
                        <!-- Testi Two -->
                        <p class="comment">
                            I decided to join the programme to get advice from successful seniors. I expected that all my  doubts would be cleared, and I would get help with the placement process. All my expectations were fulfilled. I had my first interaction with the mentor on a call, and it was very fruitful.
Students should participate in this program to boost their placement preparation. I used to talk with my mentor before placement exams and interviews, and he told me what topics to focus on and gave me tips to perform well. That advice was beneficial.
I greatly benefited from my mentor, who was very interactive and answered all of my questions patiently. These qualities of my mentor made me become comfortable with him and strengthened our relationship.



                        </p>
                        <img
                            src="../static/img/Mentee 2.jpeg" />
                        <h3 class="name">Abhinav Goud</h3>
                        <h4 class="job">CSE 2022</h4>
                    </div>

                    <div class="slide-box">
                        <h2 class="title">What the mentees have to say!</h2>
                        <!-- Testi Two -->
                        <p class="comment">
                            I am from a Civil engineering background, but many of my seniors were placed in non-core companies for profiles like 'Data Analyst', 'Business Analyst' & product development. I had zero ideas regarding any of these profiles, and any help towards the placement preparation was precious. Hence, I enrolled in PMP. I needed help building a resume from scratch and making it more appealing and compelling. My mentor gave me essential tips on explaining these non-core projects. The most crucial thing was that he explained how to prepare for resume-based questions in the interview. My mentor was not satisfied with the first resume draft I sent him. He suggested many corrections and gave many helpful tips. 

 After I got shortlisted, he recommended some content, and I think it was from there that I became frank with him and started updating him about progress. The process made it apparent just how crucial their experience in the placement process and knowledge of real-world problems is for mentees. They know which skills are needed for which profile and how to pitch them to recruiters. The program was very fruitful for me and will be for everyone else.
After I got my offer, I shared a screenshot of the offer with him, and he said, 'Now relax and enjoy campus life!'. It was a significant relief to be placed finally, and now my mentor is relieved.


                        </p>
                        <img src="../static/img/Archit.jpeg" />
                        <h3 class="name">Archit Shirish Wadalkar</h3>
                        <h4 class="job">Civil 2022</h4>
                    </div>
                </div>
        
                <a href="#!" class="control-slider btn-left">
                    <i class="material-icons" id="arrow" style="font-size:36px">chevron_left</i>
                </a>
                <a href="#!" class="control-slider btn-right">
                    <i class="material-icons" id="arrow" style="font-size:36px">chevron_right</i>
                </a>
            </div>
        </div>
        {% comment %} section for contact {% endcomment %}
        <div class='contact' id="contact" style="margin-top: -25vh;">
        <div class='headBox' id='faq'>CONTACT US</div>
        <div class="illustration3"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px; position: relative; top: 166px; left: -10px; z-index: -1;"></div>
   
    <div class='container ' style="margin-bottom: 25vh;">
        {% comment %} <div class='contactOne'>
            <p>Prannav Raam R A</p>
            <p>Core Team Member, Hostel and Department Affairs</p>
            <p>Contact Number - 9940891543</p>
            <p>Email - prannav@sarc-iitb.org</p>
        </div>
        <div class='contactTwo'>
        <p>Ishika Mamtani</p>
        <p>Core Team Member, Hostel and Department Affairs</p>
        <p>Contact Number - 8208884772</p>
        <p>Email - ishika@sarc-iitb.org</p>
        </div> {% endcomment %}
        <div class="row">

		  <div class="col-lg-6">
			<div class="member d-flex align-items-start">
			  <div class="pic"><img src="../static/img/Prannav.jpg" style="width: 10vw; height: 24vh;" class="img-fluid" alt=""></div>
			  <div class="member-info">
				<p style="font-weight: bold; margin-left: 0.5rem; margin-top: 1.5rem;">Prannav Raam R A<br>Core Team Member, Hostel & Department Affairs<br>Contact Number - 9940891543<br>Email - prannav@sarc-iitb.org</p>
			  </div>
			</div>
		  </div>

		  <div class="col-lg-6 mt-4 mt-lg-0">
			<div class="member d-flex align-items-start">
			  <div class="pic"><img src="../static/img/Ishika.jpg" style="width: 10vw; height: 24vh;" class="img-fluid" alt=""></div>
			  <div class="member-info">
				<p style="font-weight: bold; margin-left: 0.5rem; margin-top: 1.5rem;">Ishika Mamtani<br>Core Team Member, Hostel & Department Affairs<br>Contact Number - 8208884772<br>Email - ishika@sarc-iitb.org</p>
			  </div>
			</div>
		  </div>

		  
    </div>
   </div>

        <!-- <div class='container1'>
            <div class='photo1 '>
                <div><img src='{% static 'img/photo1.jpeg' %}' class='photo'></div>
                <div class='name'>Karan Kumar</div>
                <div class='department'>Computer Science and Engineering </div>
                <div>2020</div>
            </div>
            <div class='testimonial1 '>I had a great experience mentoring juniors for their placements, where I got a chance to share my learnings and helped them avoid the mistakes I made. Some of the students were quite stressed and I am glad that I was able to help them overcome that stressful phase. It is a great way to give back to the community that gave me so much.
            </div>
        </div>
        <div class='container2'>
            <div class='testimonial2 '>Looking back, the placement semester has been a very important part of my insti life. But it was the constant guidance and support from seniors and peers that made the journey smooth, comfortable, and memorable. So, for me, it was a no-brainer to opt for the Placement Mentorship Program as it provided a platform to give back.  It was a great pleasure to share my experience and knowledge with the mentees and I hope I was able to add value to their placement preparation process. This is indeed a great initiative, all the efforts from the organizing team are well appreciated. I would encourage all the recent graduates to take part in this program and guide the juniors as much as possible.
            </div>
            <div class='photo2 '>
                <div><img src='{% static 'img/photo2.jpeg' %}' class='photo'></div>
                <div class='name'>Praveen Kumar</div>
                <div class='department'>Civil Engineering</div>
                <div>2020</div>
            </div>
        </div>
    
        <div class='container3'>
            <div class='photo3 '>
                <div><img src='{% static 'img/photo3.jpeg' %}' class='photo'></div>
                <div class='name'>Vinayak Gupta</div>
                <div class='department'>Mechanical Engineering</div>
                <div>2020</div>
            </div>
            <div class='testimonial3 '>Making a proper resume and conveying yourself truly in the interview is not just an important thing but also the only thing which is in your hand when it comes to the final year. Having myself experienced the placement phase, receiving guidance from my seniors during that time along with realizing the importance of placement season, assisting final year students in their resume and interview prep, spending hours on-call reviewing resumes, discussing career options, figuring tech and HR interview questions was a clear choice for me.
            </div>
        </div>
        <div class='container4'>
            <div class='testimonial4 '>The placement mentoring program gave me a great opportunity to share my experience of the placements with my juniors. The placement at IIT is a stressful process but at the same time, it also gives a great learning opportunity from preparing resumes, to mock GD and PI’s, pre-placement talks, and to final placement sessions. These experiences ultimately help a lot in professional life. To be able to help my juniors with the placements through this program is a very fulfilling experience. Thank you for giving me this opportunity and I recommend all the students to subscribe to this program and make a maximum out of it. </div>
            <div class='photo4 '>
                <div><img src='{% static 'img/photo4.jpeg' %}' class='photo'></div>
                <div class='name'>Ram Phal Suthar</div>
                <div class='department'>Chemical Engineering </div>
                <div>2020</div>
            </div>
        </div>
       <div class='container5'>
            <div class='photo5 '>
                <div><img src='{% static 'img/photo5.jpeg' %}' class='photo'></div>
                <div class='name'>Niranjan Suthar</div>
                <div class='department'>Electrical Engineering </div>
                <div>2020</div>
            </div>
            <div class='testimonial5'>From the beginning of my 2nd year at college, I have built this interest in self-motivation and that was one of the key reasons during my placements as well. I was always looking for opportunities where I can motivate others and share my unsuccessful attempts (which I asked my mentee to avoid later). And this Institute Placement Mentorship Program gave me one more chance to guide my junior friends to prepare both mentally and academically. And the best part about this Program is that all mentees were continuously in touch with their seniors which was very important during the pandemic where there were no physical sessions possible.
            As for the mentees, all of them did a really good job. They were regular in presentations and sessions even though they had to do other academic work. And at the end, the best feeling was when your mentee tells you about their selections 😃😃.
            </div>
        </div>
    </div>
   




    
{% comment %} section for contact {% endcomment %}
   <div class='section1 contact'>
    <div  id='contact'>CONTACT US</div>
    <div class='container '>
        <div class='contactOne'>
            <p>Priyam Vijayvargia</p>
            <p>Core Team Member, Hostel and Department Affairs</p>
            <p>Contact Number - 07412011226</p>
            <p>Email - priyamvijayvargia.sarc@gmail.com</p>
        </div>
        <div class='contactTwo'>
        <p>Vivitsa Jain</p>
        <p>Core Team Member, Hostel and Department Affairs</p>
        <p>Contact Number - 09967873350</p>
        <p>Email - vivitsa.sarc@gmail.com</p>
        </div>
    </div>
   </div>

 -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <script>
        const toggles = document.querySelectorAll('.faq-toggle');

            toggles.forEach(toggle => {
                toggle.addEventListener('click', () => {
                    toggle.parentNode.classList.toggle('active');
                });
            });
            const sliderElm = document.querySelector(".slider-container .slider");
                const btnLeft = document.querySelector(".slider-container .btn-left");
                const btnRight = document.querySelector(".slider-container .btn-right");

                const numberSliderBoxs = sliderElm.children.length;
                let idxCurrentSlide = 0;

                // Functions:
                function moveSlider() {
                    let leftMargin = (sliderElm.clientWidth / numberSliderBoxs) * idxCurrentSlide;
                    sliderElm.style.marginLeft = -leftMargin + "px";
                    console.log(sliderElm.clientWidth, leftMargin);
                }
                function moveLeft() {
                    if (idxCurrentSlide === 0) idxCurrentSlide = numberSliderBoxs - 1;
                    else idxCurrentSlide--;

                    moveSlider();
                }
                function moveRight() {
                    if (idxCurrentSlide === numberSliderBoxs - 1) idxCurrentSlide = 0;
                    else idxCurrentSlide++;

                    moveSlider();
                }

                // Event Listeners:
                btnLeft.addEventListener("click", moveLeft);
                btnRight.addEventListener("click", moveRight);
                window.addEventListener("resize", moveSlider);
    const sections = document.querySelectorAll(".section");

    window.addEventListener("scroll", function (event) {
        sections.forEach((section) => {
            let top = window.scrollY + 250;
            let offset = section.offsetTop;
            let height = section.offsetHeight;
            let id = section.getAttribute("id");

            if (top >= offset && top < offset + height) {
                document.querySelectorAll(".active").forEach((a) => {
                    a.classList.remove("active");
                });

                document.querySelector("[href*=" + id + "]").classList.add("active");
            }
        });
    });

    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    
  </body>
</html>