{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> {% endcomment %}
    <link rel="icon" href="{% static 'img/favIcon.png' %}" sizes="16x16" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link type='text/css' rel="stylesheet" href='{% static '../static/StyleSheet/home.css' %}'>
    <script  src='../static/javascript/index.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script type="text/javascript">
        if (screen.width <= 699) {
        document.location = "/phonehome";
    }
    </script> 
    <script>
        const explaination1 = document.getElementsByClassName('explaination1')[0]
            const explaination2 = document.getElementsByClassName('explaination2')[0]
            const explaination3 = document.getElementsByClassName('explaination3')[0]
            const explaination4 = document.getElementsByClassName('explaination4')[0]

            function mouseOver1() {
                explaination1.classList.remove('hide');
                explaination1.classList.add('show');              
            }

            function mouseOut1() {
                explaination1.classList.remove('show');
                explaination1.classList.add('hide');
            }

            function mouseOver2() {
                explaination2.classList.add('show');
                explaination2.classList.remove('hide');
            }

            function mouseOut2() {
                explaination2.classList.remove('show');
                explaination2.classList.add('hide');
            }
            function mouseOver3() {
                explaination3.classList.add('show');
                explaination3.classList.remove('hide');
            }

            function mouseOut3() {
                explaination3.classList.remove('show');
                explaination3.classList.add('hide');
            }
            function mouseOver4() {
                explaination4.classList.add('show');
                explaination4.classList.remove('hide');
            }
            function mouseOut4() {
                explaination4.classList.remove('show');
                explaination4.classList.add('hide');
            }
    </script>
    <title>PMP | SARC | IIT Bombay</title>
    <style>
        .hide {
            display: none;
        }
        .one:hover + .role {
            display: none;
        }
    </style>
  </head>
  <body style="font-family: 'Poppins';">

  <div class='flexcontainer'>
    <div class="navbar">
        <div class="logo">
            <img src="../static/img/logo.png" style="padding: 0.2rem; width: 7vw; height: auto;">
        </div>
    
        <div class="nav__links">
            <a href="#about" class="nav__link">About</a>
            <a href="#mentor" class="nav__link">Mentor</a>
            <a href="#faq" class="nav__link">FAQs</a>
            <a href="#testimonials" class="nav__link">Testimonials</a>
            <a href="#contact" class="nav__link">Contact</a>
        </div>
    </div>
        <div>
            <div class="pmp">
                <h1>PLACEMENT</h1>
                <h1>MENTORING</h1>
                <h1>PROGRAM</h1>
                <h2>Empowering journeys beyond Placements</h2>
            </div>
            {% comment %} <a class='register' href='step-one'>REGISTER</a> {% endcomment %}
        </div>
        <br>
        <div>
       <a href="/mentorReg">
         <button id="sign-in" class="bttn" style="position: relative; padding-left: 30px; padding-right: 30px; top: 80vh; left: 42vw; font-size:18px;">REGISTER</button>
        </a>
        </div>
  </div>


    {% comment %} About section {% endcomment %}
    <div class="section5" id='about'>
        
        <div class='headBox' >What is PMP?</div>
        <div class='about-info'>The Placement Mentoring Program seeks to provide mentorship to final-year students in a variety of core and non-core sectors such as finance, analytics, consulting, IT/software, and so on, in order to help them with their placement process.  This year’s programme also includes mentorship for the graduating students who wish to pursue higher education. The programme does this through contributions from recently graduated batches who have gone through the similar placement procedure / higher studies preparation  and are thus familiar with the problems that may be encountered. The service connects mentors and mentees, allowing the latter to discuss the tactics to use when looking for work in a specific profession. PMP kicks off the initial interaction between the mentors and the mentees, which they may continue at their own pace and according to their requirements, with intermediate follow-ups to address any hurdles that may occur.

</div>

     <div class="hexagons-div my-3">
        <div class='hexagon-inner-div'>
            <div class="hexagon" ><span id='num1'>10+</span></div>
            <p class='departments'>Departments</p>
        </div>
        
        <div class='hexagon-inner-div'>
            <div class="hexagon"><span id='num3'>200+</span></div>
            <p class='mentors'>Mentors</p>
        </div>

        <div class='hexagon-inner-div'>
            <div class="hexagon" ><span id='num2'>500+</span></div>
            <p class='mentees'>Mentees</p>
        </div>
            
        </div> 
    </div>

    
    <div class="section3" id='mentor' >
        <
       
        <div class='headBox0'>ROLES OF A MENTOR</div>
        <div class="container">
    <div class="row">
      <div class="circle" onclick="toggleCenter(this)">
       
        <p>COUNSEL <br></br>Help the mentee during the entire course of preparation, starting from resume reviewing to the final placement process/grad school process.
Pass on the valuable tips that helped you crack placements/grad school, so that the mentee can pass it on to their juniors in the future.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="circle" onclick="toggleCenter(this)">
        <p>COMMUNICATION <br></br>Ensure regular communication in these stressful times with the mentee.
Be responsive to their doubts/queries/messages. If you are busy, let the mentee know a suitable time to talk.
        </p>
      </div>
      <div class="circle" onclick="toggleCenter(this)">
        <p>EXPERIENCE <br></br>Provide them with resources to help them prepare well, if possible.
Help them to not commit the same mistakes you might have.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="circle" onclick="toggleCenter(this)">
        
        <p>EVALUATION <br></br>Give them general fundae for preparing for their interviews, etc, and provide feedback on their performance.
Ensure regular feedback to our team as well.</p>

    </div>
    </div>
  </div>

  <script>
    function toggleCenter(circle) {
      const circles = document.getElementsByClassName('circle');
      const isCentered = circle.classList.toggle('center');

      for (let i = 0; i < circles.length; i++) {
        if (circles[i] !== circle) {
          if (isCentered) {
            circles[i].classList.add('invisible');
          } else {
            circles[i].classList.remove('invisible');
          }
        }
      }
    }
  </script>

        {% comment %} <div class="roleimage"><img src="../static/img/mentor4.png" style="width: 74vw; height: auto;"></div>
                    
            </div>

        </div> {% endcomment %}
    </div>

<script src='../static/javascript/index.js'></script>

    {% comment %} section for FAQ {% endcomment %}
    <div class=' faqs'>
        <div id='faq' class='headBox1'>FAQs</div>
        {% comment %} <div class="illustration1"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div> {% endcomment %}
        <div class="faq-container">
            <div class="faq ">
                <h3 class="faq-title">
                    Why should I become a mentor with PMP?
                </h3>
        
                <p class="faq-text" style="font-size: 20px;">
                    As an alumnus/alumna, this will be your first opportunity to aid the student community and future batches with your
                    expertise and experience. As a PMP mentor, you will be able to actively contribute to the success of your juniors while
                    also remaining linked to the institute.

                </p>
        
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        
            <div class="faq">
                <h3 class="faq-title">
                    What is the further procedure after I register?

                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    Mentees will be assigned to you in your desired professional sector when the mentor and mentee registrations are
                    completed. You will have the option of selecting the number of mentees you wish to mentor. The dialogue will then be
                    initiated by your respective mentees, and you will be able to decide on a course of action together. There will be a few
                    follow-ups to help you work through any issues.

                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        
            <div class="faq">
                <h3 class="faq-title">
                    How will my personal details be used?
                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    Names, roll numbers, and contact information will be kept private until the allocation procedure is completed. Your
                    contact information will only be disclosed to the mentees who have been assigned to you. Only your job profile will be
                    made public during mentee registration.

                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                  What is new this time? 
                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    Placement Mentoring Program focuses on one particular set of graduating students that prioritize placements and their current decision lies in considering going for placements. We leave a considerable chunk of institute students that have intentions in pursuing higher education in various core fields and newer fields like management.  Therefore, this year we aim to enlarge the umbrella for PMP to include higher education as well as to serve the maximum number of students in the institute.


                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
    
        
            <div class="faq">
                <h3 class="faq-title">
                    How did this program benefit the mentee last year?
                </h3>
                <p class="faq-text" style="font-size: 20px;">
                    According to reports, the mentees profited greatly from the programme last year. The mentoring they received from their
                    mentors was beneficial throughout the placement process. They were able to benefit from their mentor's experiences, and
                    all of the helpful hints and recommendations assisted them with cracking placements and the whole process.

                </p>
                <button class="faq-toggle">
                    <i class="material-icons" id="arrow" style="font-size:36px">expand_more</i>
                    <i class="material-icons" id="clear">clear</i>
                </button>
            </div>
        </div>
        </div>
    </div>
    



    {% comment %} section of testimonials {% endcomment %}
        <div class='headBox2' id="testimonials">TESTIMONIALS</div>
        {% comment %} <div class="illustration2" style="position: relative; top: -29px; left: -10px; z-index: -1;"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px;"></div> {% endcomment %}
        <div class="testimonials" style="position: relative; top: 12px; margin-bottom: 150px; background-color: #D5877D;" id="testimonials">
            <div class="slider-container">
                <div class="slider">
                    <div class="slide-box">
                        <h2 class="slide-box-content" style="font-size: 40px; text-decoration: underline;">What the mentors have to say!</h2>
                        <!-- Testi One -->
                        <p class="comment">
                            "I had a great time mentoring my juniors that I was provided by the Placement Mentoring program. 
                            I had a special sense of respect and appreciation for the mentorship programs of the institute and PMP was a perfect combination of providing that and using my experience of day-to-day life as a working professional.
                             My mentees were both great and although they came with different challenges, they were very respectful of my suggestions, hard working and performed very well in the tough placement situation. It has been a very positive experience mentoring them and I still am connected with them and we regularly share our life updates and memes."


                        </p>
                        <img
                            src="../static/img/Aakrit_Mentor.jpg" />
                        <h3 class="name">Abhinav Jain</h3>
                        <h4 class="job">Electrical Engineering Dual Degree 2021</h4>
                    </div>
                    <div class="slide-box">
                        <h2 class="title">What the mentors have to say!</h2>
                        <!-- Testi Two -->
                        <p class="comment">
                            Being a Placement Mentor in the Placement Mentoring Program (PMP) has been a gratifying journey for me. For two years, I have had the privilege of witnessing the transformation of eager students into professionals, which has provided me a sense of fulfillment. The program's ability to create a safe and nurturing space for mentorship not only allowed me to share my experiences but also provided a platform for meaningful connections and personal growth. Kudos to the SARC team for continuing introducing and successfully conducting this program every year. I will encourage every student sitting in their placement year to take full advantage of this cool initiative.
</p>
                        <img
                            src="../static/img/Ram Phal Suthar_Mentor.jpeg" />
                        <h3 class="name">Nilesh Sonune</h3>
                        <h4 class="job">Chemical 2020</h4>
                    </div>
                    
                    
                </div>
        
                <a href="#!" class="control-slider btn-left">
                    <i class="material-icons" id="arrow" style="font-size:36px">chevron_left</i>
                </a>
                <a href="#!" class="control-slider btn-right">
                    <i class="material-icons" id="arrow" style="font-size:36px">chevron_right</i>
                </a>
            </div>
        </div>
        {% comment %} section for contact {% endcomment %}
        <div class='contact' id="contact" style="margin-top: -5vh;">
        <div class='headBox' id='faq'>CONTACT US</div>
        {% comment %} <div class="illustration3"><img src="../static/img/headboxbg.png" style="width: 290px; height: 290px; position: relative; top: 166px; left: -10px; z-index: -1;"></div> {% endcomment %}
   
    <div class="team-members">
    <div class="member">
      <img src="../static/img/aghraj.jpg" alt="Team Member 1" class="member-photo">
      <h3 class="member-name">Agrajah Bhobe</h3>
      <p class="member-details">Core Team Member, Hostel and Department Affairs</p>
      <p class="member-details">Contact Number - +91 83296 91276</p>
      <div class="social-media">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/agrajah-bhobe-27a326236" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com/agrajah_bhobe?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="member">
      <img src="../static/img/garv.png" alt="Team Member 2" class="member-photo">
      <h3 class="member-name">Garv Gupta</h3>
      <p class="member-details">Core Team Member, Hostel and Department Affairs</p>
      <p class="member-details">Contact Number: +91 99535 60809</p>
      <div class="social-media">
        <a href="https://www.facebook.com/Garvcosmo" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/garv-gupta-425596242?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTO0FU%2FPlTbm8rvmUBaxwLg%3D%3D" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com/garvcosmo?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
   </div>
   <footer class="text-center text-white" style="background-color:#624F48;">
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SARC.IITB" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/sarc_iitb/" role="button"
        ><i class="fab fa-instagram"></i></a>
  
        <!-- Youtube -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/user/SARCIIT" role="button"
          ><i style="margin-left:-1px;" class="fab fa-youtube"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/student-alumni-relations-cell/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
  
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0); color:#d7e2e1;">
      © 2023 Made with 💙 by
      <span style="color:#d7e2e1;">SARC</span>
    </div>
    <!-- Copyright -->
  </footer>

        <!-- <div class='container1'>
            <div class='photo1 '>
                <div><img src='{% static 'img/photo1.jpeg' %}' class='photo'></div>
                <div class='name'>Karan Kumar</div>
                <div class='department'>Computer Science and Engineering </div>
                <div>2020</div>
            </div>
            <div class='testimonial1 '>I had a great experience mentoring juniors for their placements, where I got a chance to share my learnings and helped them avoid the mistakes I made. Some of the students were quite stressed and I am glad that I was able to help them overcome that stressful phase. It is a great way to give back to the community that gave me so much.
            </div>
        </div>
        <div class='container2'>
            <div class='testimonial2 '>Looking back, the placement semester has been a very important part of my insti life. But it was the constant guidance and support from seniors and peers that made the journey smooth, comfortable, and memorable. So, for me, it was a no-brainer to opt for the Placement Mentorship Program as it provided a platform to give back.  It was a great pleasure to share my experience and knowledge with the mentees and I hope I was able to add value to their placement preparation process. This is indeed a great initiative, all the efforts from the organizing team are well appreciated. I would encourage all the recent graduates to take part in this program and guide the juniors as much as possible.
            </div>
            <div class='photo2 '>
                <div><img src='{% static 'img/photo2.jpeg' %}' class='photo'></div>
                <div class='name'>Praveen Kumar</div>
                <div class='department'>Civil Engineering</div>
                <div>2020</div>
            </div>
        </div>
    
        <div class='container3'>
            <div class='photo3 '>
                <div><img src='{% static 'img/photo3.jpeg' %}' class='photo'></div>
                <div class='name'>Vinayak Gupta</div>
                <div class='department'>Mechanical Engineering</div>
                <div>2020</div>
            </div>
            <div class='testimonial3 '>Making a proper resume and conveying yourself truly in the interview is not just an important thing but also the only thing which is in your hand when it comes to the final year. Having myself experienced the placement phase, receiving guidance from my seniors during that time along with realizing the importance of placement season, assisting final year students in their resume and interview prep, spending hours on-call reviewing resumes, discussing career options, figuring tech and HR interview questions was a clear choice for me.
            </div>
        </div>
        <div class='container4'>
            <div class='testimonial4 '>The placement mentoring program gave me a great opportunity to share my experience of the placements with my juniors. The placement at IIT is a stressful process but at the same time, it also gives a great learning opportunity from preparing resumes, to mock GD and PI’s, pre-placement talks, and to final placement sessions. These experiences ultimately help a lot in professional life. To be able to help my juniors with the placements through this program is a very fulfilling experience. Thank you for giving me this opportunity and I recommend all the students to subscribe to this program and make a maximum out of it. </div>
            <div class='photo4 '>
                <div><img src='{% static 'img/photo4.jpeg' %}' class='photo'></div>
                <div class='name'>Ram Phal Suthar</div>
                <div class='department'>Chemical Engineering </div>
                <div>2020</div>
            </div>
        </div>
       <div class='container5'>
            <div class='photo5 '>
                <div><img src='{% static 'img/photo5.jpeg' %}' class='photo'></div>
                <div class='name'>Niranjan Suthar</div>
                <div class='department'>Electrical Engineering </div>
                <div>2020</div>
            </div>
            <div class='testimonial5'>From the beginning of my 2nd year at college, I have built this interest in self-motivation and that was one of the key reasons during my placements as well. I was always looking for opportunities where I can motivate others and share my unsuccessful attempts (which I asked my mentee to avoid later). And this Institute Placement Mentorship Program gave me one more chance to guide my junior friends to prepare both mentally and academically. And the best part about this Program is that all mentees were continuously in touch with their seniors which was very important during the pandemic where there were no physical sessions possible.
            As for the mentees, all of them did a really good job. They were regular in presentations and sessions even though they had to do other academic work. And at the end, the best feeling was when your mentee tells you about their selections 😃😃.
            </div>
        </div>
    </div>
   




    
{% comment %} section for contact {% endcomment %}
   <div class='section1 contact'>
    <div  id='contact'>CONTACT US</div>
    <div class='container '>
        <div class='contactOne'>
            <p>Priyam Vijayvargia</p>
            <p>Core Team Member, Hostel and Department Affairs</p>
            <p>Contact Number - 07412011226</p>
            <p>Email - priyamvijayvargia.sarc@gmail.com</p>
        </div>
        <div class='contactTwo'>
        <p>Vivitsa Jain</p>
        <p>Core Team Member, Hostel and Department Affairs</p>
        <p>Contact Number - 09967873350</p>
        <p>Email - vivitsa.sarc@gmail.com</p>
        </div>
    </div>
   </div>

 -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <script>
        const toggles = document.querySelectorAll('.faq-toggle');

            toggles.forEach(toggle => {
                toggle.addEventListener('click', () => {
                    toggle.parentNode.classList.toggle('active');
                });
            });
            const sliderElm = document.querySelector(".slider-container .slider");
                const btnLeft = document.querySelector(".slider-container .btn-left");
                const btnRight = document.querySelector(".slider-container .btn-right");

                const numberSliderBoxs = sliderElm.children.length;
                let idxCurrentSlide = 0;

                // Functions:
                function moveSlider() {
                    let leftMargin = (sliderElm.clientWidth / numberSliderBoxs) * idxCurrentSlide;
                    sliderElm.style.marginLeft = -leftMargin + "px";
                    console.log(sliderElm.clientWidth, leftMargin);
                }
                function moveLeft() {
                    if (idxCurrentSlide === 0) idxCurrentSlide = numberSliderBoxs - 1;
                    else idxCurrentSlide--;

                    moveSlider();
                }
                function moveRight() {
                    if (idxCurrentSlide === numberSliderBoxs - 1) idxCurrentSlide = 0;
                    else idxCurrentSlide++;

                    moveSlider();
                }

                // Event Listeners:
                btnLeft.addEventListener("click", moveLeft);
                btnRight.addEventListener("click", moveRight);
                window.addEventListener("resize", moveSlider);
    const sections = document.querySelectorAll(".section");

    window.addEventListener("scroll", function (event) {
        sections.forEach((section) => {
            let top = window.scrollY + 250;
            let offset = section.offsetTop;
            let height = section.offsetHeight;
            let id = section.getAttribute("id");

            if (top >= offset && top < offset + height) {
                document.querySelectorAll(".active").forEach((a) => {
                    a.classList.remove("active");
                });

                document.querySelector("[href*=" + id + "]").classList.add("active");
            }
        });
    });

    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    
  </body>
</html>