/*Nikhil Tiwari*/

* {
    margin: 0;
    padding: 0
  }
  
  html {
    height: 100%
  }
  
  body {
    background : #222629;
  }
  
  
  p {
    color: grey
  }

  .company {
    color: white;
  }
  
  #heading {
    text-transform: uppercase;
    color: #624f48;
    font-weight: normal;
  }
  
  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }
  
  #msform fieldset {
    background: #d9cdb3;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }
  
  .form-card {
    text-align: left
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none
  }
  
  #msform input,
  #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #222629;
    margin-bottom: 30px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #222629;
    background-color: white;
    opacity: 1;
    font-size: 20px;
    letter-spacing: 1px;
    placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'helvetica','Times New Roman' ;
        opacity: 1; /* Firefox */
      }
    
  }
  
  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #87C240;
    outline-width: 0
  }
  
  #department:focus, #Degree:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #87C240;
    outline-width: 0;
  }
  
  #msform .action-button {
    background: #624f48;
    border-radius: 18px;
    font-weight: bold;
    width: 150px;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 5px;
    font-family: helvetica;
  }
  
  
  /* #msform .action-button:hover,
  #msform .action-button:focus {
    background-color: 'white';
    color: #87C240;
  }
   */
  #msform .action-button-previous {
    width: 150px;
    background: #624f48;
    border-radius: 18px;
    font-weight: bold;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 5px;
  }
  
  /* #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    background-color: 'white';
    color: #87C240;
  } */
  
  .card {
    z-index: 0;
    border: none;
    position: relative
  }
  
  .fs-title {
    font-size: 30px;
    color: #87C240;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
  }
  
  .purple-text {
    color: #87C240;
    font-weight: normal
  }
  
  .steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
  }
  
  .fieldlabels {
    color: white;
    text-align: left;
    font-size: 150%;
  }
  
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: white;
  }
  
  #progressbar .active {
    color: #624f48;
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400
  }
  
  #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
    background-color: #624f48;
  }
  
  #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
  }
  
  #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
  }
  
  #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
  }
  
  #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
  }
  
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background-color: #624f48;
  }
  
  .progress {
    height: 20px
  }
  
  .progress-bar {
    background-color: red;
  }
  
  .fit-image {
    width: 100%;
    object-fit: cover
  }
  
  #t01 {
    background-color: #d9cdb3;
  }
  
  .t03 {
    background-color: #d9cdb3;   
  }
  .container {
    padding-bottom: 0px;
  }
  
  .container-fluid header{
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 30px 0;
    background-color: #624f48;
    color:white;
    text-align: center;
    padding: 20px;
  }
  #department {
    padding: 8px 15px 8px 15px;
    border: 1px solid #222629;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #222629;
    background-color: white;
    font-size: 16px;
    letter-spacing: 1px;
  
  }
  
  #degree {
    padding: 8px 15px 8px 15px;
    border: 1px solid #222629;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #222629;
    background-color: white;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  #t04 {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .nav-tabs{
      flex-direction: 'row';
      justify-content: space-evenly;
      border-bottom: 0px solid #dee2e6 !important;
  }
  
  .nav-link {
    color:#fff;
    font-size: 125%;
    background: #624f48;
    border: 12px solid #624f48;
    border-radius: 17px !important;
    text-align: center;
    margin: 10px;
  }
  .nav-link a {
    color: #222629;
  }
  a.active {
    color: white;
  }
  .nav-link:hover{
    color:white;
    background-color: #222629;
  }
  #t05 {
    padding: 22px;
  }
  
  #t06:hover{
    box-shadow: 3px 3px 2px #87C240;    
    transform: scale(1.1);
    margin-bottom: 10px;
  }
  
  ul#tabs li {
    display: inline;
  }
  
  /*CARDS*************************************************************************************/
  
  .card-header {
    color: #87C240;
  }
  
  .card-title {
    font-size: 150%;
    color: white;
  }
  
  .nav-item {
    text-align: center;
    font-size: 110%;
  }
  
  #t08 {
    background-color: #222629;
  }
  
  #t09 {
    margin-left: 15px;
  }

  @media (max-width: 1200px) {
    .col-sm-3 {
        flex: 1 1 calc(33.33% - 1rem);
        max-width: calc(33.33% - 1rem);
    }
  }
  @media (max-width: 992px) {
      .col-sm-3 {
          flex: 1 1 calc(50% - 1rem);
          max-width: calc(50% - 1rem);
      }
  }
  @media (max-width: 699px) {
      .col-sm-3 {
          flex: 1 1 calc(100% - 1rem);
          max-width: calc(100% - 1rem);
          min-width: 80vw;
          justify-content: center;
          align-items: center;
      }
  }